.footer-grid__main-container {
  display: grid;
  grid-template-areas:
    "contributer product community"
    "contributer product community"
    "contributer product community"
    "contributer . ."
    "contributer . .";
  justify-content: space-evenly;
  border-top: 2px solid #dcdedd;
  padding-top: 14px;
}

.footer-contributers {
  display: grid;
  grid-area: contributer;
  font-weight: 525;
  opacity: 0.8;
}

.footer-product {
  display: grid;
  grid-area: product;
  font-weight: 525;
  opacity: 0.8;
}

.footer-community {
  display: grid;
  grid-area: community;
  font-weight: 525;
  opacity: 0.8;
}

.contributer-link,
.product-link,
.community-link {
  text-decoration: none;
  color: #282828;
  padding-top: 8px;
  font-weight: 400;
  font-size: 14px;
}

.footer__bottom-container {
  display: flex;
  justify-content: space-evenly;
  margin: 18px auto;
  font-size: 14px;
  opacity: 0.8;
}

.fa-github-square {
  font-size: 20px;
  color: #282828;
}
