.footer-grid__main-container {
  display: grid;
  grid-template-areas:
    "contributor product community"
    "contributor product community"
    "contributor product community"
    "contributor . ."
    "contributor . .";
  justify-content: space-evenly;
  border-top: 2px solid #dcdedd;
  padding-top: 14px;
}

.footer-contributors {
  display: grid;
  grid-area: contributor;
  font-weight: 525;
  opacity: 0.8;
}

.footer-product {
  display: grid;
  grid-area: product;
  font-weight: 525;
  opacity: 0.8;
}

.footer-community {
  display: grid;
  grid-area: community;
  font-weight: 525;
  opacity: 0.8;
}

.contributor-link,
.product-link,
.community-link {
  text-decoration: none;
  color: #282828;
  padding-top: 8px;
  font-weight: 400;
  font-size: 14px;
}

.footer__bottom-container {
  display: flex;
  justify-content: center;
  margin: 18px auto;
  font-size: 14px;
  opacity: 0.8;
}

.fa-github-square {
  margin-left: 10px;
  font-size: 20px;
  color: #282828;
}
