@import "reset.css";
@import "navbar.css";


html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
