.login-page__main-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #f7f7f6;
  vertical-align: baseline;
  padding: 60px 18px;
  min-height: 638px;
  height: 100%;
  border-top: 1px solid #f1eeea;
}

.login-form__main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  height: fit-content;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #f1eeea;
  border-radius: 2px;
}

.login-form__form-container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  padding-top: 0;
  max-width: 350px;
  width: 100%;
}

.login-form__title {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #282828;
}

.login-form__input-field {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #dcdedd;
  width: 100%;
}

.login-form__input-field:focus {
  border-color: #009e74;
  transition: all 300ms;
  outline: 0;
}

.login-form__submit-button {
  box-sizing: border-box;
  background-color: #028858;
  border: 1px solid #028858;
  color: white;
  height: 35px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.demo-button {
  margin-top: 12px;
}

.signup-link__main-container {
  display: flex;
  padding: 20px;
  padding-bottom: 0;
  color: #282828;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #f1eeea;
}

.signup-link__message {
  padding-right: 6px;
  font-size: 14px;
}

.signup-link__link {
  text-decoration: none;
  font-size: 14px;
  color: #2752ff;
}

.errors__main-container {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(255, 213, 213);
  color: darkred;
  margin-bottom: 10px;
  border-radius: 3px;
}

.error-message {
  padding-top: 3px;
}
