.project-profile-page__input-field {
  display: grid;
  grid-area: funding;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
}

.project-profile-page__input-field:focus {
  display: grid;
  grid-area: funding;
  border-color: #009e74;
  transition: all 300ms;
  outline: 0;
}

.project-profile-page__button {
  display: grid;
  grid-area: button;
  box-sizing: border-box;
  background-color: #028858;
  border: 1px solid #028858;
  color: white;
  height: 35px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0px 1px;
}

.project-profile-page__main-container {
  display: grid;
  grid-template-areas:
    'title title title'
    'category category category'
    'image image balance'
    'image image goal-date'
    'image image description'
    'funding funding edit'
    'button button edit';
  justify-content: center;
  background-color: #f7f7f6;
  vertical-align: baseline;
  padding: 60px 18px;
  height: 100vh;
  border-top: 1px solid #f1eeea;
}

.project-profile-page__header-title {
  display: grid;
  grid-area: title;
  justify-content: center;
  font-weight: 700;
  font-size: xx-large;
}

project-profile-page__header-category {
  display: grid;
  grid-area: category;
  justify-content: center;
  font-weight: 700;
  font-size: xx-large;
}

.project-profile-page__image-container {
  display: grid;
  grid-area: image;
}

.project-profile-page__balance {
  display: grid;
  grid-area: balance;
}

.project-profile-page__goal-date {
  display: grid;
  grid-area: goal-date;
}

.project-profile-page__description {
  display: grid;
  grid-area: description;
}

.project-profile-page__edit-button {
  display: grid;
  grid-area: edit;
}
