.projectcard {
  vertical-align: top;
  float: left;
  position: relative;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: inherit;
  min-width:390px;
  max-width: 390px;
}

.projectcard__wrapper {
  position: relative;
  margin-bottom: 3rem;

}

.projectcard__container {
  position: relative;
  /* background-color: #FFF; */
  color: #000;
  border-color: #DCDEDD;
  border: 0.1rem solid #DCDEDD;
}

.projectcard__picturebox {
  display: block;
  position: relative;
  align-self: flex-start;
  height: 210px;
  width: 100%;
  /* padding-top: 56.25%; */
}

.projectcard__picturebox-navlink {

  text-decoration: none;
}

.projectcard__picture {

  width: 100%;
  top: 0rem;
  border-color: #E8E8E8;
  border-bottom: 0.1rem solid #DCDEDD;
  border: none;
  max-width: 100%;
  cursor: pointer;
  height: 21rem;
  background-color: #F0F0F0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projectcard__topdata {
  height: 18rem;
  padding-left: 1.8rem !important;
  padding-right: 1.8rem !important;
  padding-top: 1rem;
  margin-bottom: 0.1rem;
  color: #95959E;
}

.projectcard__topdata-text-container {
  margin-bottom: 1.8rem;
  color: #95959E;
}

.projectcard__topdata-name {
  margin-bottom: 1.8rem;
  color: #282828;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
  text-decoration: none;
}

.projectcard__topdata-header {
  margin-bottom: 0/6rem;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.projectcard__topdata-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width: 100%; */
  position: relative;
  padding-top: 1rem;
  max-height: 3.8rem;
  text-decoration: none;
  color: #696969;
  font-size: 1.4rem;
  line-height: 2.4rem;


}

.projectcard__topdata-creator {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-left: 2rem;

}

.projectcard__topdata-creator-link {
  font-weight: 500;
  color: #282828;
  text-decoration: none;
}

.projectcard__bottomdata {
  padding-left: 1.8rem !important;
  padding-right: 1.8rem !important;
  padding-bottom: 1.8rem;
  padding-top: 1.8rem;
}

.projectcard__bottomdata-fillbar {
  width: 100%;
  margin-bottom: 1.8rem;
  background-color: #E8E8E8;
  max-width: 100%;
}

.projectcard__bottomdata-fillbar-progress {
  height: 0.3rem;
  background-color: #037362;
}

.projectcard__bottomdata-campaign {
  font-weight: 500;
  color: #037362;
}

.projectcard__bottomdata-pledged {
  margin-right: 1.2rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.projectcard__bottomdata-percent-funded {
  margin-right: 1.2rem;
  font-weight: 500;
  color: #656969;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.projectcard__bottomdata-days {
  color: #656969;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.projectcard__bottomdata-category {
  text-decoration: underline;
  font-weight: 500;
  color: #656969;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

@media only screen and (min-width: 600px) {
  .projectcard {
    padding-left: 12px;
    padding-right: 12px;
}
}

@media only screen and (min-width: 640px) {
  .projectcard__topdata-header {
    font-size: 22px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 795px) {
  .projectcard {
    padding-left: 12px;
    padding-right: 12px;
}
}

@media only screen and (min-width: 1025px) {
  .projectcard {
    padding-left: 18px;
    padding-right: 18px;
    /* width: calc(4/12 * 100%) !important; */
}
}
