.project-profile-page__container {
  position: relative;
  min-height: 833px;
  height: 100vh;
  background: #f7f7f6;
  padding-top: 67px;
}

.project-profile-page__main {

  background-color: #f7f7f6;
  padding-bottom: 0px;
  height: 100%;
}

.project-profile-page__main-container {
  display: grid;
  grid-template-areas:
    "header header header header header header header"
    "image image image image info info info"
    "image image image image info info info"
    "image image image image info info info"
    "image image image image info info info";


  padding: 5px auto;
  background-color: #f7f7f6;
  border-top: 1px solid #f1eeea;
  height: 100%;

}

.project-profile-page__header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  margin-top: 0rem;
  margin-bottom: 3.6rem;
  /* margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px; */
  /* makes sure the header will size appropriately no matter size of page */
  position: relative;
  vertical-align: top;
  float: left;
  width: calc(12 / 12 * 100%) !important;
}

.project-profile-page__header-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 0.6rem;
  color: #282828;
  font-size: 2.4rem;
  line-height: 3rem;
}

.project-profile-page__header-description {
  margin-bottom: 0.6rem;
  color: #282828;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: center;
}

.project-profile-page__image-container {
  grid-area: image;
  margin: 0 auto;
  vertical-align: top;
  float: left;
  position: relative;
}

.project-profile-page__image-wrapper {
  display: block;
  width: 620px;
  height: 362px;
}

.project-profile-page__image {
  max-width: 620px;
  height: 362px;
  background-color: #F0F0F0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-profile-page__category {
  margin-bottom: 0rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  text-decoration: none;
  color: #656969;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.project-profile-page__creator {
  margin-bottom: 0rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  text-decoration: none;
  color: #656969;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.project-profile-page__info-container {
  grid-area: info;
  color: #028858;
  display: block;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 -20px 0 18px;
  float: left;
  position: relative;
  max-width: 350px;
  padding-right: 10px;
  padding-left: 10px;
}

.project-profile-page__progress-bar {
  width: 100%;
  margin-bottom: 1.8rem;
  background-color: #e8e8e8;
}

.project-profile-page__progress-color {
  height: 0.6rem;
  background-color: #028858;
}
.project-profile-page__info-container-stats {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  flex-direction: column;
}

.project-profile-page__balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.4rem;
  white-space: nowrap;
}

.project-profile-page__info-container h1 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: -5px;
  align-items: center;
}

.project-profile-page__info-container p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #656969;
}
.project-profile-page__backer-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.4rem;
  white-space: nowrap;
}

.project-profile-page__goal-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
}

.project-profile-page__form {
  margin-bottom: 15px;
}

.project-profile-page__input-field {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
}

.project-profile-page__input-field:focus {
  border-color: #009e74;
  transition: all 300ms;
  outline: 0;
  border-radius: 2px;
}

.project-profile-page__button {
  box-sizing: border-box;
  background-color: #028858;
  border: 1px solid #028858;
  color: white;
  height: 35px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0px 1px;
  width: 100%;
  border-radius: 2px;
}

.project-profile-page__project-management {
  display: flex;
  justify-content: space-evenly;
}

.project-profile-page__edit-button {
  box-sizing: border-box;
  background-color: #028858;
  border: 1px solid #028858;
  color: white;
  height: 35px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0px 1px;
  width: 25%;
  border-radius: 2px;
  padding: 1px;

}

.project-profile-page__delete-button {
  box-sizing: border-box;
  background-color: #028858;
  border: 1px solid #028858;
  color: white;
  height: 35px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0px 1px;
  width: 25%;
  border-radius: 2px;
  padding: 1px;
}
