.trending-projects {
  border-color: #E8E8E8;
  border-bottom: 0.1rem solid #DCDEDD;
}

.trending-projects__container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

.trending-projects__container * {
  box-sizing: inherit;
}

.trending-projects__wrapper {
  padding-bottom: 4.8rem;
  display: flex;
  flex-wrap: wrap;
}

.trending-projects__featured-card {
  padding-top: 3rem;
  flex-basis: 100%;
  border-color: #E8E8E8;
  border-bottom: 0.1rem solid #DCDEDD;
}

.trending-projects__featured-card-header {
  margin-bottom: 1.8rem;
  font-weight: 700;
  color: #656969;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.trending-projects__featured-card-hover-field {
  position: relative;

}

.trending-projects__featured-card-navlink {
  text-decoration: none;

}

.trending-projects__featured-card-focusable-link {
  position: relative;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  display: block;
  height: 362px;
  width: 100%;
}

.trending-projects__featured-card-image {

  height: 350px;
  background-color: #F0F0F0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trending-projects__featured-card-progress-bar {
  width: 100%;
  background-color: #E8E8E8;
}

.trending-projects__featured-card-progression-color {
  height: 1.2rem;
  background-color: #037362;
}

.trending-projects__featured-card-project-name {
  padding-bottom: 1.2rem;
  padding-top: 1.8rem;
  font-weight: 400;
  color: #282828;
  font-size: 2.1rem;
  line-height: 3rem;
}

.trending-projects__featured-card-project-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 660px;
  padding-bottom: 2.4rem;
  color: #282828;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.trending-projects__featured-card-project-creator-container{
  padding-bottom: 2.4rem;
}

.trending-projects__featured-card-creator {
  color: #656969;
  border-color: #DCDEDD;
  font-size: 1.2rem;
  line-height: 1.8rem;
  cursor: pointer;
}

.trending-projects__right-panel {
  padding-top: 3rem;
  flex-basis: 100%;
  position: relative;
}
.trending-projects__right-panel > div {
  position: relative;
}

.trending-projects__right-panel-header {
  margin-bottom: 1.8rem;
  font-weight: 700;
  color: #656969;
  font-size: 1.3rem;
  line-height: 1.8rem;
  position: relative;
}

.trending-projects__right-panel-list {
  padding: 0;
  margin: 0;
  position: relative;
}

.trending-projects__right-panel-list-item {
  padding-bottom: 1.2rem;
  border-color: #E8E8E8;
  border-bottom: 0.1rem solid #DCDEDD;
  padding: 0;
  margin: 0;
  position: relative;
}

.trending-projects__right-panel-list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  margin-top: 2rem;
  position: relative;
}


.trending-projects__right-panel-list-item-navlink-container {
  width: 170px;
  height: 90px;
  position: relative;
  display: block;
  padding-right: 2.4rem;
}

.trending-projects__right-panel-list-item-navlink {
  text-decoration: none;
}

.trending-projects__right-panel-list-item-navlink-wrapper {
  height: 90px;
  background-color: #F0F0F0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trending-projects__right-panel-list-item-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-basis: 65%;
  margin-top: 1.5rem;
  position: relative;
}

.trending-projects__right-panel-list-item-name {
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  max-height: 2.4rem;
  margin-bottom: 0.6rem;
  font-size: 1.4rem;
  color: #282828;
  text-decoration: none;
  cursor: pointer;
}

.trending-projects__right-panel-list-item-name:after {
  position: absolute;
  top: 90%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #034752;
  content: '';
  opacity: 0;
  transform: translateY(-1px);
}

.trending-projects__right-panel-list-item-name:hover::after {
  opacity: 1;
  height: 2px;
  transition: height 0.3s, opacity 0.5s, transform 0.3s, color 0.3s;
  transform: translateY(-0px);
}


.trending-projects__right-panel-list-item-funding {
  margin-top: 0rem;
  font-weight: 700;
  color: #037362;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.trending-projects__right-panel-list-item-creator {
  color: #656969;
  font-size: 1.2rem;
  line-height: 1.8rem;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
  text-decoration: none;
}

.trending-projects__right-panel-list-button-container {
  margin-top: 0.6rem;
  display: flex;

}

.trending-projects__right-panel-list-button {
  margin-right: 0.6rem;
}

.trending-projects__right-panel-list-button-wrapper {
  width: 25px;
  height: 25px;
  cursor: pointer;
  line-height: unset !important;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  color: #FFF;
  border-color: #D1D1D1;
  border: 0.1rem solid #DCDEDD;
  border-radius: 100% !important;
  padding: 0;
}

.trending-projects__right-panel-list-button-wrapper:focus {
  outline: 0;
}
.trending-projects__right-panel-list-button-wrapper svg {
  width: 100%;
  height: 1.2rem;
  fill: #464646;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
  transition-duration: 150ms;
}


@media only screen and (min-width: 600px) {
  .trending-projects__container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media only screen and (min-width: 795px) {
  .trending-projects__container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .trending-projects__wrapper {
    padding-bottom: 6rem;
    flex-wrap: nowrap;
  }

  .trending-projects__featured-card {
    padding-right: 3rem;
    margin-top: 2.4rem;
    flex-basis: 55%;
    border-bottom: none;
    border-right: 0.1rem solid #DCDEDD;
  }

  .trending-projects__featured-card-header {
    font-size: 1.3rem;
  }

  .trending-projects__featured-card-focusable-link {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .trending-projects__featured-card-project-name {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .trending-projects__featured-card-project-desc {
    font-size: 1.8rem;
  }

  .trending-projects__featured-card-project-creator-container{
    padding-bottom: 0rem;
  }

  .trending-projects__right-panel {
    padding-left: 3rem;
    margin-top: 2.4rem;
    flex-basis: 45%;
  }

  .trending-projects__right-panel-header {
    font-size: 1.3rem;
  }

  .trending-projects__right-panel-list-item-info-container {
    flex-basis: 60%;
  }

  .trending-projects__right-panel-list-item-funding {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  .trending-projects__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .trending-projects__featured-card {
    padding-right: 6rem;
  }

  .trending-projects__featured-card-project-name {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .trending-projects__right-panel {
    padding-left: 6rem;
  }

  .trending-projects__right-panel-list {
    min-height: 380px;
  }

  .trending-projects__right-panel-list-item {
    padding-bottom: 1.8rem;
  }
}
